<div class="container-fluid">
<section class="row">

<div class="col-md-4">
    <p class="p1">As Michael Harvey writes, paragraphs are “in essence—a form of punctuation, 
       and like other forms of punctuation they are meant to make written material 
       easy to read.” Effective paragraphs are the fundamental units of academic 
       writing; consequently, the thoughtful, multifaceted arguments that your 
       professors expect depend on them. Without good paragraphs, you simply cannot 
       clearly convey sequential points and their relationships to one another. </p>
</div>

<div class="col-md-4">
    <p class="p2">Many novice writers tend to make a sharp distinction between content and style, 
        thinking that a paper can be strong in one and weak in the other, but focusing 
        on organization shows how content and style converge in deliberative academic 
        writing. Your professors will view even the most elegant prose as rambling and 
        tedious if there isn’t a careful, coherent argument to give the text meaning. 
        Paragraphs are the “stuff ” of academic writing and, thus, worth our attention here.</p>
</div>

<div class="col-md-4">
    <div class="container p3"><p>Key sentences in academic writing do two things. First, they 
        establish the main point that the rest of the paragraph supports. Second, they situate each 
        paragraph within the sequence of the argument, a task that requires transitioning from the 
        prior paragraph.
    </p></div>
</div>
</section><hr>

<section class="row">
    <div class="col-md-8">
        <p>
            Nature, in the broadest sense, is the physical world or universe. "Nature" can refer to 
            the phenomena of the physical world, and also to life in general. The study of nature is 
            a large, if not the only, part of science. Although humans are part of nature, human 
            activity is often understood as a separate category from other natural phenomena.</p>

        <p>The word nature is borrowed from the Old French nature and is derived from the Latin word 
            natura, or "essential qualities, innate disposition", and in ancient times, literally 
            meant "birth".In ancient philosophy, natura is mostly used as the Latin translation 
            of the Greek word physis, which originally related to the intrinsic characteristics 
            of plants, animals, and other features of the world to develop of their own accord. The 
            concept of nature as a whole, the physical universe, is one of several expansions of the 
            original notion.</p>
    </div>

    <div class="col-md-4">
        <div class="logo">S.P.A.</div>
    </div>
</section>
</div>